.header {
    border-bottom: 1px solid #ececec;
}

.main-nav {
    display: flex;
    align-items: center;
}

/*.header-list {
    display: flex;
    margin-left: 93px;
    &__item {
        margin-left: 50px;
        &:first-child{
            margin-left: 0px;
        }
               
    }
}*/


.logo {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

    color: var(--button-color);

    &__color {
    color: #000000;
            &--inverse {
            color: #fff;
                }
        }
}




.header-list{
    display: flex;
        margin-left: 93px;

    &__page {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
    line-height: 1.14;
    font-weight: 500;
    letter-spacing: 0.02em;
    
    color: var(--titles-color);

        &--current {
        position: relative;
        color: var(--button-color);

                &::after{
                position: absolute;
                content: "";
                display: block;
                background-color: #2196f3;
                width: 100%;
                height: 4px;
                border-radius: 2%;
                 left: 0;
                 bottom: 0;
                }
        }
    }
        &__item{           
            line-height: 1.14;
            font-weight: 500;
            letter-spacing: 0.02em;
            
            color: var(--titles-color);
            margin-left: 50px;
                
                    &:first-child {
                    margin-left: 0px;
                    }

                    &:hover,
                    &:focus{
                    color: var(--button-color);
                        background-color: var(--header-color);
                    }

                    }
}



/*.header-list__page--current {
    position: relative;
    color: var(--button-color);
}

.header-list__page--current::after {
    position: absolute;
    content: "";
    display: block;
    background-color: #2196f3;
    width: 100%;
    height: 4px;
    border-radius: 2%;
    left: 0;
    bottom: 0;
}*/

.contacts {
    display: flex;
        margin-left: auto;
        align-items: center;

    &__item {
            display: block;
            align-items: center;
            transition-property: color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

            &:hover,
            &:focus {
                color: #2196f3;
                fill: currentColor;
            }

            &:last-child {
            margin-left: 30px;
            }
        }
    
    &__icon {
        margin-right: 10px;
        fill: currentColor;
    }
}



.contacts__mail,
.contacts__phone {
    line-height: 1.14;
    font-weight: 500;
    letter-spacing: 0.02em;
    display: flex;
    padding: 32px 0;
    align-items: center;
    color: var(--text-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}